@import "http://ceam.rev2dev.fr/projets/CSS/CEAM.css";
/* TEST Variable CSS / seulement FF */
:root {
    --bg: #ededed;
    --devert: #00DE00;
}

html {
   overflow: hidden;
   height: 100vh;	
}

body {
   background-color: var(--bg);
   padding-bottom: 20px;
/*   overflow: hidden;
   height: 100vh;*/
   overflow-y: scroll;
   height: 100%;   
}

section.principale {
/*   overflow-y: scroll;
   height: 100%;   */
}

/* NIVEAU 1 */
dl.liste_niveau {
	counter-reset: compteur-personalise;
}

dt.niveau:before {
	content: counter(compteur-personalise, decimal) url('puce6.gif');
	counter-increment: compteur-personalise;
	font-size: 26px;
	line-height: 1.4;
	margin: 0 5px;
}

.niveau > .libelle {
	border: 1px solid transparent; /* pour éviter l'impression de déplacement quand, au survol, apparait une bordure */
	padding: 0 5px 0;
}

.niveau > .liste_niveau  {  	/* liste ordonnée dans un élément de liste  */
	position: absolute;
	visibility: hidden;
	margin-left : 50px;
	margin-top : -5px;
	width : 80%;
    /* transition: box-shadow 2s ease-out, visibility 2s ease-out; */
}

.liste_niveau > .niveau {   /* un élément de liste ordonnée dans un élément de liste enfant  */
	display : none;
}

section > .liste_niveau > .niveau{ /* 1er niveau visible */
	display : block;
}

/* SURVOL NIVEAU1 */
.niveau:hover > .libelle{
	border-color : blue;
	background-color : #acacac;
}


dt.niveau.cliquee:before{
	content: counter(compteur-personalise, decimal) url('puceBas.gif');
}

.niveau.cliquee > .libelle{
	text-shadow: -20px 10px 2px rgba(50, 50, 50, 0.5);
	border-color: var(--devert);
	background-color: #8c8c8c;
}

ol .niveau.cliquee  .libelle {
	display: list-item;
}

.niveau.cliquee  > .liste_niveau  {
	visibility: visible;
	position : absolute;
	background-color : white;
	padding: 10px 30px 20px;
	border : 1px solid #eeeeee;
	box-shadow: -20px 10px 2px rgba(50, 50, 50, 0.5);
	transition: box-shadow 2s ease-out, visibility 2s ease-out;
}

.niveau.cliquee > .liste_niveau > .niveau {
	display: block;
	border-bottom : 2px solid #ececec;
}

.niveau:hover .liste_niveau  {
}


 /*******/
h2{
	display : inline-block;
	margin-bottom : 15px;
	text-transform: uppercase;
}

cite {
	padding : 1px 2px;
	box-shadow: 0 0 4px 1px #000;
	line-height: 2rem;
}

code, code pre {
	background-color : #e0e0eb;
}

code pre {
	display: block;
}

ol.version li{
	list-style-type: lower-alpha;
	margin-bottom : 3px;
}

div.code{
	border : 1px solid lightgrey;
}
div.resultat{
	border : 1px solid lightgrey;
}
.code, .wysiwyg{
	width : 48%;
	float : left;
}
.wysiwyg{
	text-align : center;
}

.testevent textarea{
    height: 70%;
    resize: none;
}
.testevent #zonesaisie{
	width : 26%;
}
.testevent #zoneresultat{
	width : 70%;
}
